*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font: inherit;
}

table {
  border-collapse: collapse;
}

th,
td {
  vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
}
